Package: com.c0dine.libc0dinepreferences
Name: libc0dinepreferences
Version: 0.0.1
Architecture: iphoneos-arm
Description: My personal preferences library
Maintainer: c0dine
Author: c0dine
Section: System
Tag: role::developer
